
:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.filter-container {
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 0 5vw;
}

.search-bar {
    width: 85%;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vh 0 2vh;
    background-color: var(--background-color);
}

.search-bar input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
}

.search-bar button {
    width: 10%;
    background: transparent;
    border: none;
}

.search-bar button img {
    width: 80%;
}

.search-bar input:focus {
    outline: none;
}

.filter-options {
    width: 5vh;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-options img {
    width: 60%;
}

.filter-container button img{
    opacity: 0.5;
}

.collection-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Vier Spalten */
    gap: 5px;  /* Abstand zwischen den Kacheln */
    padding:0 5vw;
    overflow: auto;
}